name: telomere_env
channels:
  - conda-forge
  - bioconda
  - defaults
dependencies:
  - python=3.9
  - pandas
  - numpy
  - matplotlib
  - seaborn  
  - scipy
  - biopython
  - pywt     
  - pybigwig  
  - scikit-learn  